 * {
  font-family: "Ubuntu", sans-serif;
}

.form-container .form-head {
  width: 20%;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 1.4rem 1.4rem 1rem 1.4rem;
}

/* Media Queries For Laptop */
@media (max-width: 1400px) {
  .form-container .form-head {
    width: 40%;
  }
}

/* Media Queries For Tablet */
@media (max-width: 1024px) and (min-width: 769px) {
  .form-container .form-head {
    width: 60%;
  }
}

/* Media Queries For Mobile */
@media (max-width: 768px) and (min-width: 300px) {
  .form-container .form-head {
    width: 90%;
  }
}