 * {
  font-family: "Ubuntu", sans-serif;
}

/* Navbar Style Start */

.navbar .container .navbar-nav .nav-item .nav-link.active {
  font-weight: 400;
  border-bottom: 1px solid #c44536;
}

.navbar .container .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #c44536;
}

.bg-nav {
  background-color: rgba(255, 241, 241, 1);
  transition: all 0.3s ease;
}

/* Navbar Style End */

/* Section profil start */

.tombol-aksi a.btn {
  margin-top: 9.2rem;
}

/* Section profil End */

/* Footer Style Start */

.section-footer {
  background-color: #283d3b;
  padding: 3% 0;
}

.section-footer .container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

/* Footer Style End */

/* Media Queries For Tablet */
@media (max-width: 1024px) and (min-width: 769px) {
  .navbar .container .navbar-nav .nav-item .nav-link.active {
    font-weight: 400;
    border-bottom: none;
  }

  .navbar .container .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
  }

  .section-footer {
    background-color: #283d3b;
    padding: 3% 0;
  }
}

/* Media Queries For Mobile */
@media (max-width: 768px) and (min-width: 300px) {
  .navbar .container .navbar-nav .nav-item .nav-link.active {
    font-weight: 400;
    border-bottom: none;
  }

  .navbar .container .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
  }

  .section-footer {
    background-color: #283d3b;
    padding: 8% 0;
  }
}