 * {
    font-family: "Montserrat", sans-serif;
}

.navbar .container .navbar-nav .nav-item .nav-link.active {
  font-weight: 400;
  border-bottom: 1px solid #c44536;
}

.navbar .container .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #c44536;
}

/* Card Daftar Buku Style Start */

.card {
  transition: 0.3s all ease;
}

.card:hover {
  transform: scale(1.03);
  background-color: #1972780a;
  cursor: pointer ;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card-body a.btn {
    margin-top: auto; /* dorong tombol ke bawah */
}

/* Card Daftar Buku Style End */

/* Media Queries For Tablet */
@media (max-width: 1024px) and (min-width: 769px) {
  .navbar .container .navbar-nav .nav-item .nav-link.active {
    font-weight: 400;
    border-bottom: none;
  }

  .navbar .container .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
  }
}

/* Media Queries For Mobile */
@media (max-width: 768px) and (min-width: 300px) {
  .navbar .container .navbar-nav .nav-item .nav-link.active {
    font-weight: 400;
    border-bottom: none;
  }

  .navbar .container .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
  }
}