 * {
  font-family: "Montserrat", sans-serif;
}

.form-container .form-head {
  width: 55%;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 2rem 2rem;
}

/* Media Queries For Laptop */
@media (max-width: 1400px) and (min-width: 1025px) {
  .form-container .form-head {
    width: 70%;
  }
}

/* Media Queries For Tablet */
@media (max-width: 1024px) and (min-width: 769px) {
  .form-container .form-head {
    width: 80%;
  }
}

/* Media Queries For Mobile */
@media (max-width: 768px) and (min-width: 300px) {
  .form-container .form-head {
    width: 100%;
  }
